@font-face {
  font-family: "Montserrat-400";
  src: url("../fonts/Montserrat-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-500";
  src: url("../fonts/Montserrat-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-600";
  src: url("../fonts/Montserrat-600.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat-700";
  src: url("../fonts/Montserrat-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
